@import "../../css/globalFunc";

.price {
  color: $theme_color;
}


.g-goods {
  position: relative;
  img {
    width: 100%;
  }
  .tags {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
}