@import "globalFunc";

.h-banner {
  img {
    width: 100%;
  }
}

.h-header {
  padding: 10px 10px 0 10px; /*no*/
  @include setFontSize($middleFontSize);
  color: $theme_color;
  .h-title {
    margin-left: 10px;
  }
}